@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;box-sizing: border-box;}
    .logo{
        max-height: 12vh;
    }
    .colornav{
        background-color: black;
        font-size: 1.3rem;
    }
    .navboton{
        background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
        border-radius: 15px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        margin: 11px;
        text-align: center;
        justify-content: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-size: 2rem;
    }
    .navul{
        justify-content: right;
    }
    .secindex1{
        padding: 0%;
        display: flex;
        background-color: black;
        min-width: 100vh;
    }
    .videobg{
        min-width: 100%;
        padding: 0%;
    }
    .textindex{
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 5rem;
        font-weight: 900;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.61);
        text-align: center;
        width: fit-content;
    }
    .botonparticipar{
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        text-align: left;
        font-size: 3rem;
        
    }
    .secindex2{
        display: flex;
        background-color: white;
    }
    .card{
        padding: 0%;
        max-width: auto;
        max-height: 50vh;
        background-color: black;
        border-radius: 0;
        padding: 0%;
    }
    .card img{
        margin: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-img-overlay {
        position: absolute;
        top: auto;
        bottom: auto;
    }
    .datatext{
        color: rgb(255, 255, 255);
        font-size: 3.5rem;
        font-weight:900;
        font-style: italic;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.61);
        text-align: center;
    }
    .accesstextindextitle{
        color: #0d1169;
        font-size: 3rem;
        font-weight: 900;
    }
    .accesstextindex{
        color: black;
        font-size: 2rem;
        font-weight: 700;
    }
    .secindex3{
        display: flex;
        background-color: rgb(255, 250, 232);
        min-height: 80vh;
    }
    .sectextunirse{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .textindexunirse{
        color: black;
        font-size: 2rem;
        font-weight: 700;
        margin: 2vh;
    }
    .imgunirse{
        min-height: 100%;
    }
    .botonparticipar2{
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        text-align: left;
        font-size: 3rem;
        margin: 3vh;
    }
    .secindex4{
        display: flex;
        background-color: black;
    }
    .sec1nosotros{
        margin: 0%;
        padding: 0%;
        background-color: black;
    }
    .imgnosotros{
        margin: 0%;
        padding: 0%;
        object-fit: cover;
    }
    .titletnosotros{
        position: relative;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 5rem;
        font-weight: 900;
        text-align: center;
        width: fit-content;
    }
    .sec2nosotros{
        padding: 0%;
    }
    .nosotrostext{
        color: black;
        font-size: 1rem;
        font-weight: 700;
        margin: 0%;
        padding: 1vh;
    }
    .nosotrosimg{
        padding: 0%;
        margin: 0%;
    }
    .imgproyectos{
        margin: 0%;
        padding: 0%;
        object-fit: cover;
        max-width: 100%;
    }
    .titleproyectos{
        position: relative;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 7rem;
        font-weight: 900;
        text-align: center;
        width: fit-content;
        background-image: url(../assets/img/proyectos.png);
        padding: 40vh;
        min-width: 100%;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.51);
    }
    .proyectotitles{
        text-align: center;
        padding: 2vh;
    }
    .secproyectos{
        margin: 0%;
        padding: 0%;
    }
    .proyectostext{
        color: black;
        font-size: 1rem;
        font-weight: 700;
        margin: 0%;
        padding: 4vh;
    }
    .youtubevideo{
        margin: 0%;
        padding: 0%;
        min-width: 100%;
    }
    .tituloevent{
        position: relative;
        text-align: center;
        color: white;
    }
    .titleteventos{
        position: relative;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 9rem;
        font-weight: 900;
        text-align: center;
        width: fit-content;
        margin: 0%;
        padding: 0%;
        text-shadow: 4px 4px 2px rgba(0,0,0,0.51);
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .imgeventos{
        max-width: 100%;
        filter: blur(2px);
    }    
    .eventcard{
        margin: 2vh;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
        border: 3px #000000;
    }
    .eventostitles{
        color: #0d1169;
        font-size: 3rem;
        font-weight: 900;
        padding: 2vh;
    }
    .eventostext{
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1vh;
        padding: 1vh;
    }
    .botonevento{
        margin: 2vh;
    }
    .imgcontacto{
        object-fit: cover;
        min-width: 100%;
        max-width: 100%;
    }
    .titletcontacto{
        color: black;
    }
    .contactotext{
        color: black;
        font-size: 3rem;
        font-weight: 700;
        margin: 1vh;
        padding: 1vh;
        text-align: center;
    }
    .contactoform{
        max-width: 80%;
    }
    .formulario{
        margin:2vh
    }
    .footer{
        background-color: black;
        color: white;
    }
    .redes{
        display: flex;
        justify-content: space-around;
        min-width: 30vw;
    }
    .footeri{
        font-size: 3rem;
    }