.footer{
    background-color: $color-black;
    color: $color-white;
    font-size: 1.5rem;
    padding: 10px;
    .footer__div{
        .footer__div__redes{
            display: map-get($map-flex,flex);
            justify-content: space-around;
            min-width: 30vw;
            .footer__div__redes__i{
                font-size: $font-3rem;
            }
            .footer__div__redes__i:hover{
                transform: scale(130%);
                transition: 0.5s;
                color: #ffc710;
                text-shadow: 0 0 5px #ffc710;
            }
        }
    }
}
@media (max-width: 760px) {
    .footer{
        padding: 1.5vh;
        font-size: 1rem;
        .footer__div{
            .footer__div__redes{
                .footer__div__redes__i{
                    margin: 2.5px;
                    font-size: 2rem;
                }
            }
        }
    }
}