.navcontainer{
    background-color: $color-black;
    font-size: 1.3rem;
    .navcontainer__div1{
        .navcontainer__div1__logo{
            max-height: 12vh;
        }
        .navcontainer__div1__logo:hover{
            transform: scale(110%);
            transition: 0.5s;
        }
    }
    .navcontainer__div2{
        .navcontainer__div2__ul{
            justify-content: right;
            .navcontainer__div2__ul__li{
                .navcontainer__div2__ul__li__button{
                    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
                    border-radius: 15px;
                    border-style: none;
                    box-sizing: border-box;
                    color: gray;
                    margin: 11px;
                    text-align: center;
                    justify-content: center;
                    transition: all .5s;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    font-size: $font-2rem;
                }
                .navcontainer__div2__ul__li__button__active{
                    color:$color-white;
                }
                .navcontainer__div2__ul__li__button:hover{
                    color:$color-white;
                    text-shadow: 4px 4px 0px rgba(0,0,0,0.22);
                    transform: scale(110%);
                    transition: 0.5s;
                }
            }
        }
    }
}