.contenedor1{
    .contenedor1__div{
        overflow-x: hidden;
        .contenedor1__div__h1{
            position: relative;
            justify-content: center;
            align-items: center;
            color: $color-white;
            font-size: 7rem;
            font-weight: 900;
            text-align: center;
            width: fit-content;
            background-image: url(../assets/img/proyectos.png);
            padding: 40vh;
            min-width: 100%;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.51);
            
        }
    }
}
.contenedor2{
    margin: 0%;
    padding: 0%;
    .contenedor2__div1{
        margin: 0%;
        padding: 0%;
        .contenedor2__div1__h2{
            text-align: center;
            padding: 2vh;
            color: $color-titulos;
            font-size: $font-3rem;
            font-weight: 900;
        }
        .contenedor2__div1__p{
            color: $color-black;
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0%;
            padding: 8vh;
            line-height: 1.8em;
        }
        .contenedor2__div1__iframe{
            margin: 0%;
            padding: 0%;
            min-width: 100%;
            padding-bottom: 10vh
        }
    }
    .contenedor2__div2{
        margin: 0%;
        padding: 0%;
        .contenedor2__div2__h2{
            text-align: center;
            padding: 2vh;
            color: $color-titulos;
            font-size: $font-3rem;
            font-weight: 900;
        }
        .contenedor2__div2__p1{
            color: $color-black;
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0%;
            padding: 8vh 8vh 0vh 8vh;
            line-height: 1.8em;
        }
        .contenedor2__div2__p2{
            color: $color-black;
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0%;
            padding: 8vh;
            line-height: 1.8em;
        }
        .contenedor2__div2__iframe{
            margin: 0%;
            padding: 0%;
            padding-bottom: 10vh;
        }
    }
}
@media (max-width: 760px){
    .contenedor1{
        .contenedor1__div{
            .contenedor1__div__h1{
                background-image: url(../assets/img/bg.png);
                font-size: $font-2rem;
                padding: 20%;
            }
        }
    }
    .contenedor2{
        .contenedor2__div1{
            .contenedor2__div1__h2{
                margin-top: 5vh;
            }
            .contenedor2__div1__p{
                padding: 3vh;
                line-height: 2;
                margin-bottom: 7vh;
            }
        }
        .contenedor2__div2{
            .contenedor2__div2__p1{
                padding: 3vh;
                line-height: 2;
            }
            .contenedor2__div2__p2{
                padding: 3vh;
                line-height: 2;
                margin-bottom: 7vh;
            }
        }
    }
}
@media (min-width: 761px) and (max-width: 1200px){
    .contenedor1{
        .contenedor1__div{
            overflow-x: hidden;
            .contenedor1__div__h1{
                position: relative;
                justify-content: center;
                align-items: center;
                color: $color-white;
                font-size: 5rem;
                font-weight: 900;
                text-align: center;
                width: fit-content;
                background-image: url(../assets/img/proyectos.png);
                padding: 25vh;
                min-width: 100%;
                text-shadow: 4px 4px 2px rgba(0,0,0,0.51);
            }
        }
    }
}