@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

@media (max-width: 760px) {
  video {
    display: none;
  }
}
.navcontainer {
  background-color: black;
  font-size: 1.3rem;
}
.navcontainer .navcontainer__div1 .navcontainer__div1__logo {
  max-height: 12vh;
}
.navcontainer .navcontainer__div2 .navcontainer__div2__ul {
  justify-content: right;
}
.navcontainer .navcontainer__div2 .navcontainer__div2__ul .navcontainer__div2__ul__li .navcontainer__div2__ul__li__button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  color: gray;
  margin: 11px;
  text-align: center;
  justify-content: center;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.22);
  transition: all 0.5s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 2rem;
}
.navcontainer .navcontainer__div2 .navcontainer__div2__ul .navcontainer__div2__ul__li .navcontainer__div2__ul__li__button__active {
  color: white;
}
.navcontainer .navcontainer__div2 .navcontainer__div2__ul .navcontainer__div2__ul__li .navcontainer__div2__ul__li__button:hover {
  color: white;
}

/*
.logo{
    max-height: 12vh;
}
.navcontainer{
    background-color: $color-black;
    font-size: 1.3rem;
}
.navboton{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 15px;
    border-style: none;
    box-sizing: border-box;
    color: $color-white;
    margin: 11px;
    text-align: center;
    justify-content: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 2rem;
}
.navul{
    justify-content: right;
}
*/
.containermainindex .containermainindex__div1 {
  padding: 0%;
  display: flex;
  background-color: black;
  min-width: 100vh;
}
.containermainindex .containermainindex__div1 .containermainindex__div1__video {
  min-width: 100%;
  padding: 0%;
}
.containermainindex .containermainindex__div1 .containermainindex__div1__div1 {
  position: absolute;
  top: auto;
  bottom: auto;
}
.containermainindex .containermainindex__div1 .containermainindex__div1__div1 .containermainindex__div1__div1__p {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.61);
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.containermainindex .containermainindex__div1 .containermainindex__div1__div1 .containermainindex__div1__div1_button {
  margin: 2vh;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  font-size: 3rem;
}
.containermainindex .containermainindex__div1 .containermainindex__div1__div1 .containermainindex__div1__div1_button:hover {
  background-image: radial-gradient(100% 100% at 100% 0, #fafafa 0, #5468ff 100%);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}
.containermainindex .containermainindex__div2 {
  display: flex;
  background-color: white;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div1 {
  padding: 0%;
  max-width: auto;
  max-height: 50vh;
  background-color: black;
  border-radius: 0;
  padding: 0%;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div1 .containermainindex__div2_div1__img {
  margin: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div1 .containermainindex__div2_div1__div {
  position: absolute;
  top: auto;
  bottom: auto;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div1 .containermainindex__div2_div1__p {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.61);
  text-align: center;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div2 {
  padding: 0%;
  max-width: auto;
  max-height: 50vh;
  background-color: black;
  border-radius: 0;
  padding: 0%;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div2 .containermainindex__div2_div2__img {
  margin: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div2 .containermainindex__div2_div2__div {
  position: absolute;
  top: auto;
  bottom: auto;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div2 .containermainindex__div2_div2__p {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.61);
  text-align: center;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div3 {
  padding: 0%;
  max-width: auto;
  max-height: 50vh;
  background-color: black;
  border-radius: 0;
  padding: 0%;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div3 .containermainindex__div2_div3__img {
  margin: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div3 .containermainindex__div2_div3__div {
  position: absolute;
  top: auto;
  bottom: auto;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div3 .containermainindex__div2_div3__p {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.61);
  text-align: center;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div4 .containermainindex__div2_div4__div1 .containermainindex__div2_div4__div1__p {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div4 .containermainindex__div2_div4__div2 .containermainindex__div2_div4__div2__p {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div5 .containermainindex__div2_div5__div1 .containermainindex__div2_div5__div1__p {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div5 .containermainindex__div2_div5__div2 .containermainindex__div2_div5__div2__p {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div6 .containermainindex__div2_div6__div1 .containermainindex__div2_div6__div1__p {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
}
.containermainindex .containermainindex__div2 .containermainindex__div2_div6 .containermainindex__div2_div6__div2 .containermainindex__div2_div6__div2__p {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}
.containermainindex .containermainindex__div3 .containermainindex__div3__div1 {
  display: flex;
  background-color: rgb(255, 250, 232);
  min-height: 80vh;
}
.containermainindex .containermainindex__div3 .containermainindex__div3__div1 .containermainindex__div3__div1__div1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.containermainindex .containermainindex__div3 .containermainindex__div3__div1 .containermainindex__div3__div1__div1 .containermainindex__div3__div1__div1__p {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin: 2vh;
}
.containermainindex .containermainindex__div3 .containermainindex__div3__div1 .containermainindex__div3__div1__div1 .containermainindex__div3__div1__div1__button {
  margin: 2vh;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  font-size: 3rem;
}
.containermainindex .containermainindex__div3 .containermainindex__div3__div1 .containermainindex__div3__div1__div1 .containermainindex__div3__div1__div1__button:hover {
  background-image: radial-gradient(100% 100% at 100% 0, #fafafa 0, #5468ff 100%);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}
.containermainindex .containermainindex__div3 .containermainindex__div3__div1 .containermainindex__div3__div1__div2 .containermainindex__div3__div1__div2__img {
  min-height: 100%;
}
.containermainindex .containermainindex__div4 {
  display: flex;
  background-color: black;
}
@media (max-width: 760px) {
  .containermainindex {
    overflow: hidden;
  }
  .containermainindex .containermainindex__div1 {
    background-image: url(../assets/img/bg.png);
    min-height: 50vh;
  }
  .containermainindex .containermainindex__div3 .containermainindex__div3__div1 .containermainindex__div3__div1__div2 .containermainindex__div3__div1__div2__img {
    display: none;
  }
}
/*
.secindex1{
    padding: 0%;
    display: flex;
    background-color: $color-black;
    min-width: 100vh;
}
.videobg{
    min-width: 100%;
    padding: 0%;
}
.textindex{
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.61);
    text-align: center;
    width: fit-content;
}
.secindex2{
    display: flex;
    background-color: $color-white;
}
.card{
    padding: 0%;
    max-width: auto;
    max-height: 50vh;
    background-color: $color-black;
    border-radius: 0;
    padding: 0%;
}
.card img{
    margin: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.datatext{
    color: $color-white;
    font-size: 3.5rem;
    font-weight:900;
    font-style: italic;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.61);
    text-align: center;
}
.accesstextindextitle{
    color: #0d1169;
    font-size: 3rem;
    font-weight: 900;
}
.accesstextindex{
    color: $color-black;
    font-size: 2rem;
    font-weight: 700;
}
.secindex3{
    display: flex;
    background-color: rgb(255, 250, 232);
    min-height: 80vh;
}
.sectextunirse{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.textindexunirse{
    color: $color-black;
    font-size: 2rem;
    font-weight: 700;
    margin: 2vh;
}
.botonparticipar2{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: $color-white;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    font-size: 3rem;
    margin: 3vh;
}
.imgunirse{
    min-height: 100%;
}
.secindex4{
    display: flex;
    background-color: $color-black;
}
.card-img-overlay {
    position: absolute;
    top: auto;
    bottom: auto;
}
@media (max-width: 760px) {
    .containermainindex{
        overflow: hidden;
    }
    .video{
        display: none;
    }
    .index3{
        display: none;
    }
    .secindex1{
        background-image: url(../assets/img/bg.png);
        min-height: 50vh;
    }

    .textindex{
        font-size: 1.5rem;
    }
    .botonparticipar{
        font-size: 1.5rem;
    }
    .datatext{
        font-size: 2rem;
    }

    .textindexunirse{
        font-size: 1.5rem;
    }
    .botonparticipar2{
        font-size: 1rem;
        text-align: center;
    }
    .titleproyectos{
        background-image: url(../assets/img/bg.png);
        font-size: 2rem;
        padding: 20%;
    }
    .youtubevideo{
        margin-bottom: 2vh;
    }
}
*/
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div1 .nosotrosmain__container__div1__div1 {
  margin: 0%;
  padding: 0%;
  background-color: black;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div1 .nosotrosmain__container__div1__div1 .nosotrosmain__container__div1__div1__img {
  margin: 0%;
  padding: 0%;
  -o-object-fit: cover;
     object-fit: cover;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div1 .nosotrosmain__container__div1__div1 .nosotrosmain__container__div1__div1__h1 {
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div1 {
  padding: 0%;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div1 .nosotrosmain__container__div2__div1__div1__div1 .nosotrosmain__container__div2__div1__div1__div1__h2 {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div1 .nosotrosmain__container__div2__div1__div1__div2 .nosotrosmain__container__div2__div1__div1__div2__p {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 0%;
  padding: 1vh;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div2 {
  padding: 0%;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div2 .nosotrosmain__container__div2__div1__div2__div1 .nosotrosmain__container__div2__div1__div2__div1__h2 {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div2 .nosotrosmain__container__div2__div1__div2__div2 .nosotrosmain__container__div2__div1__div2__div2__p {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 0%;
  padding: 1vh;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div3 {
  padding: 0%;
  margin: 0%;
}
.nosotrosmain .nosotrosmain__container .nosotrosmain__container__div2 .nosotrosmain__container__div2__div1 .nosotrosmain__container__div2__div1__div3 .nosotrosmain__container__div2__div1__div3__div1 {
  padding: 0%;
  margin: 0%;
}

/*
.nosotrosimg{
    padding: 0%;
    margin: 0%;
}
.nosotrostext{
    color: $color-black;
    font-size: 1rem;
    font-weight: 700;
    margin: 0%;
    padding: 1vh;
}
.sec1nosotros{
    margin: 0%;
    padding: 0%;
    background-color: $color-black;
}
.imgnosotros{
    margin: 0%;
    padding: 0%;
    object-fit: cover;
}
.titletnosotros{
    position: relative;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    width: fit-content;
}
.sec2nosotros{
    padding: 0%;
}
*/
.contenedor1 .contenedor1__div .contenedor1__div__h1 {
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 7rem;
  font-weight: 900;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  background-image: url(../assets/img/proyectos.png);
  padding: 40vh;
  min-width: 100%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.51);
}

.contenedor2 {
  margin: 0%;
  padding: 0%;
}
.contenedor2 .contenedor2__div1 {
  margin: 0%;
  padding: 0%;
}
.contenedor2 .contenedor2__div1 .contenedor2__div1__h2 {
  text-align: center;
  padding: 2vh;
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
}
.contenedor2 .contenedor2__div1 .contenedor2__div1__p {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0%;
  padding: 8vh;
}
.contenedor2 .contenedor2__div1 .contenedor2__div1__iframe {
  margin: 0%;
  padding: 0%;
  min-width: 100%;
  padding-bottom: 10vh;
}
.contenedor2 .contenedor2__div2 {
  margin: 0%;
  padding: 0%;
}
.contenedor2 .contenedor2__div2 .contenedor2__div2__h2 {
  text-align: center;
  padding: 2vh;
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
}
.contenedor2 .contenedor2__div2 .contenedor2__div2__p1 {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0%;
  padding: 8vh 8vh 0vh 8vh;
}
.contenedor2 .contenedor2__div2 .contenedor2__div2__p2 {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0%;
  padding: 8vh;
}
.contenedor2 .contenedor2__div2 .contenedor2__div2__iframe {
  margin: 0%;
  padding: 0%;
  padding-bottom: 10vh;
}

/*
.titleproyectos{
    position: relative;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    width: fit-content;
    background-image: url(../assets/img/proyectos.png);
    padding: 40vh;
    min-width: 100%;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.51);
}
.secproyectos{
    margin: 0%;
    padding: 0%;
}
.proyectotitles{
    text-align: center;
    padding: 2vh;
}
.proyectostext{
    color: $color-black;
    font-size: 1rem;
    font-weight: 700;
    margin: 0%;
    padding: 4vh;
}
.youtubevideo{
    margin: 0%;
    padding: 0%;
    min-width: 100%;
}
*/
.containerevento1 .containerevento1__div .containerevento1__div__img {
  max-width: 100%;
  filter: blur(2px);
}
.containerevento1 .containerevento1__div .containerevento1__div__h1 {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 9rem;
  font-weight: 900;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0%;
  padding: 0%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.51);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerevento2 .containerevento2__div1 {
  margin: 6vh;
  padding: 3vh;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  border: 3px black;
}
.containerevento2 .containerevento2__div1 .containerevento2__div1__div1 .containerevento2__div1__div1__h2 {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
  padding: 2vh;
}
.containerevento2 .containerevento2__div1 .containerevento2__div1__div2 .containerevento2__div1__div2__p {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1vh;
  padding: 1vh;
}
.containerevento2 .containerevento2__div1 .containerevento2__div1__div3 .containerevento2__div1__div3__button {
  margin: 2vh;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  font-size: 3rem;
}
.containerevento2 .containerevento2__div1 .containerevento2__div1__div3 .containerevento2__div1__div3__button:hover {
  background-image: radial-gradient(100% 100% at 100% 0, #fafafa 0, #5468ff 100%);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}
.containerevento2 .containerevento2__div2 {
  margin: 6vh;
  padding: 3vh;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  border: 3px black;
}
.containerevento2 .containerevento2__div2 .containerevento2__div2__div1 .containerevento2__div2__div1__h2 {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
  padding: 2vh;
}
.containerevento2 .containerevento2__div2 .containerevento2__div2__div2 .containerevento2__div2__div2__p {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1vh;
  padding: 1vh;
}
.containerevento2 .containerevento2__div2 .containerevento2__div2__div3 .containerevento2__div2__div3__button {
  margin: 2vh;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  font-size: 3rem;
}
.containerevento2 .containerevento2__div2 .containerevento2__div2__div3 .containerevento2__div2__div3__button:hover {
  background-image: radial-gradient(100% 100% at 100% 0, #fafafa 0, #5468ff 100%);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}
.containerevento2 .containerevento2__div3 {
  margin: 6vh;
  padding: 3vh;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  border: 3px black;
}
.containerevento2 .containerevento2__div3 .containerevento2__div3__div1 .containerevento2__div3__div1__h2 {
  color: #0d1169;
  font-size: 3rem;
  font-weight: 900;
  padding: 2vh;
}
.containerevento2 .containerevento2__div3 .containerevento2__div3__div2 .containerevento2__div3__div2__p {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1vh;
  padding: 1vh;
}
.containerevento2 .containerevento2__div3 .containerevento2__div3__div3 .containerevento2__div3__div3__button {
  margin: 2vh;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  font-size: 3rem;
}
.containerevento2 .containerevento2__div3 .containerevento2__div3__div3 .containerevento2__div3__div3__button:hover {
  background-image: radial-gradient(100% 100% at 100% 0, #fafafa 0, #5468ff 100%);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}

/*
.imgeventos{
    max-width: 100%;
    filter: blur(2px);
}    
.titleteventos{
    position: relative;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 9rem;
    font-weight: 900;
    text-align: center;
    width: fit-content;
    margin: 0%;
    padding: 0%;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.51);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.eventostitles{
    color: #0d1169;
    font-size: 3rem;
    font-weight: 900;
    padding: 2vh;
}
.eventostext{
    color: $color-black;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1vh;
    padding: 1vh;
}
.botonevento{
    margin: 2vh;
}
.botonparticipar{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: $color-white;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: left;
    font-size: 3rem;

}
.eventcard{
    margin: 2vh;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
    border: 3px $color-black;
}
*/
.containercontacto1 .containercontacto1__principal .containercontacto1__principal__img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  filter: blur(2px);
}
.containercontacto1 .containercontacto1__principal .containercontacto1__principal__titulo {
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 9rem;
  font-weight: 900;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0%;
  padding: 0%;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.44);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containercontacto2 .containercontacto2__div1 .containercontacto2__div1__div1 .containercontacto2__div1__div1__titulo {
  color: #0d1169;
  font-size: 3.5rem;
  font-weight: 900;
  padding: 2vh;
}
.containercontacto2 .containercontacto2__div1 .containercontacto2__div1__div2 .containercontacto2__div1__div2__texto {
  color: black;
  font-size: 2.3rem;
  font-weight: 600;
  margin: 1vh;
  padding: 2vh;
  text-align: center;
}
.containercontacto2 .containercontacto2__div1 .containercontacto2__div1__div3 .containercontacto2__div1__div3__button {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  font-size: 3rem;
  margin: 2vh;
}
.containercontacto2 .containercontacto2__div1 .containercontacto2__div1__div3 .containercontacto2__div1__div3__button:hover {
  background-image: radial-gradient(100% 100% at 100% 0, #fafafa 0, #5468ff 100%);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}
.containercontacto2 .containercontacto2__div2 .containercontacto2__div2__form {
  margin: 2vh;
  max-width: 80%;
}
.containercontacto2 .containercontacto2__div2 .containercontacto2__div2__form .containercontacto2__div2__form__div {
  margin: 2vh;
}
.containercontacto2 .containercontacto2__div2 .containercontacto2__div2__form .containercontacto2__div2__form__div .containercontacto2__div2__form__div__button {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  font-size: 3rem;
  margin: 2vh;
}
.containercontacto2 .containercontacto2__div2 .containercontacto2__div2__form .containercontacto2__div2__form__div .containercontacto2__div2__form__div__button:hover {
  background-image: radial-gradient(100% 100% at 100% 0, #fafafa 0, #5468ff 100%);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.33);
  transition: 0.3s;
}
.containercontacto2 .containercontacto2__div2 .containercontacto2__div2__form .containercontacto2__div2__form__div .containercontacto2__div2__form__div__label {
  font-size: 1.2rem;
}

@media (max-width: 760px) {
  .containercontacto1 .containercontacto1__principal .containercontacto1__principal__img {
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 40vh;
    filter: blur(1px);
  }
  .containercontacto1 .containercontacto1__principal .containercontacto1__principal__titulo {
    font-size: 3rem;
  }
  .containercontacto2 .containercontacto2__div1 .containercontacto2__div1__div1 .containercontacto2__div1__div1__titulo {
    color: #0d1169;
    text-align: center;
    font-size: 2.5rem;
  }
  .containercontacto2 .containercontacto2__div1 .containercontacto2__div1__div2 .containercontacto2__div1__div2__texto {
    font-size: 2rem;
    font-weight: 500;
  }
  .containercontacto2 .containercontacto2__div1 .containercontacto2__div1__div3 .containercontacto2__div1__div3__button {
    font-size: 1.5rem;
  }
  .containercontacto2 .containercontacto2__div2 .containercontacto2__div2__form {
    padding-right: 5vw;
    max-width: 80%;
  }
}
/*
.imgcontacto{
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
}
.titletcontacto{
    color: $color-black;
}
.contactotext{
    color: $color-black;
    font-size: 3rem;
    font-weight: 700;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
}
.contactoform{
    max-width: 80%;
}
.formulario{
    margin:2vh
}
.tituloevent{
    position: relative;
    text-align: center;
    color: $color-white;
}
*/
.footer {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}
.footer .footer__div .footer__div__redes {
  display: flex;
  justify-content: space-around;
  min-width: 30vw;
}
.footer .footer__div .footer__div__redes .footer__div__redes__i {
  font-size: 3rem;
}

@media (max-width: 760px) {
  .footer {
    padding: 1.5vh;
    font-size: 1rem;
  }
  .footer .footer__div .footer__div__redes .footer__div__redes__i {
    margin: 2.5px;
    font-size: 3rem;
  }
}
/*
.footer__redes{
    display: flex;
    justify-content: space-around;
    min-width: 30vw;
}
.footer__redes__i{
    font-size: 3rem;
}
@media (max-width: 760px) {
    .footer{
        padding: 1.5vh;
        font-size: 1rem;
    }
    .footer__redes__i{
        margin: 2.5px;
        font-size: 3rem;
    }
}
*//*# sourceMappingURL=style.css.map */